/* Secrets */

/* My WiFi data */
#define WIFI_1_SSID		"myssid"
#define WIFI_1_PASSWORD		"password"
#define WIFI_1_BSSID		NULL
#define WIFI_1_ACME_BYPASS	true
#define	WIFI_1_EAP_IDENTITY	NULL
#define	WIFI_1_EAP_PASSWORD	NULL

#define WIFI_2_SSID		"myssid-2"
#define WIFI_2_PASSWORD		"password"
#define WIFI_2_BSSID		NULL
#define WIFI_2_ACME_BYPASS	true
#define	WIFI_2_EAP_IDENTITY	NULL
#define	WIFI_2_EAP_PASSWORD	NULL

#define WIFI_3_SSID		"hotel-ssid"
#define WIFI_3_PASSWORD		"password"
#define WIFI_3_BSSID		NULL
#define WIFI_3_ACME_BYPASS	false
#define	WIFI_3_EAP_IDENTITY	NULL
#define	WIFI_3_EAP_PASSWORD	NULL

/* NTP server */
#define	NTP_SERVER_0	"0.be.pool.ntp.org"
#define	NTP_SERVER_1	"1.be.pool.ntp.org"

/* Dynamic DNS - keep our name alive by periodic updates */
#define	DDNS_URL		"some.ddns.name"
#define	DDNS_AUTH		"credentials"
#undef	DDNS_SERVER		/* "dynupdate.no-ip.com" */

#define	ACME_DEFAULT_EMAIL_ADDRESS	""
#define	ACME_DEFAULT_URL		""
#define	ACME_DEFAULT_SERVER_URL		"https://acme-staging-v02.api.letsencrypt.org/directory"
